@use '../colors';
@use '../fonts';
@use '../buttons';

.container {
  background-color: colors.$slate;
  padding: 2vw 8vw calc(6vw + 6px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2vw;
}

.buttons {
  text-align: center;
  padding-top: calc(6vw + 6px);

  button {
    @include buttons.offsetBtn;
    color: colors.$charcoal;
  }
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3vw;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 2vw 8vw calc(8vw + 6px);
  }

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1vh;
  }

  .buttons {
    padding-top: calc(8vw + 6px);
  }
}