// colors
$white: #fff;
$yellow: #ffcf0d;
$blue: #31a4f4;
$charcoal: #2F3847;
$slate: #4A5265;
$dun: #DAC8A4;
$alabaster: #EDE5D8;
$umber: #654F42;

$primary: $umber;
$secondary: $charcoal;
$accept: $yellow;
$decline: $blue;